asgiref==3.2.7
backcall==0.1.0
beautifulsoup4==4.9.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
clipboard==0.0.4
colorama==0.4.3
configparser==5.0.0
crayons==0.3.0
cryptography==3.2
css==0.1
decorator==4.4.2
Django==3.0.5
django-wkhtmltopdf==3.3.0
dnspython==1.16.0
idna==2.9
ipython==7.14.0
ipython-genutils==0.2.0
jedi==0.17.0
mysql-connector-python==8.0.19
mysqlclient @ file:///C:/123/mysqlclient-1.4.6-cp36-cp36m-win32.whl
parso==0.7.0
pickleshare==0.7.5
Pillow==7.1.2
prompt-toolkit==3.0.5
protobuf==3.6.1
pycparser==2.20
Pygments==2.6.1
PyMySQL==0.9.3
pyperclip==1.8.0
pytz==2020.1
requests==2.23.0
selenium==3.141.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
traitlets==4.3.3
urllib3==1.25.9
wcwidth==0.1.9
webdriver-manager==2.5.3
webkit==1.1.0
